<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="~/AllCss/Layoutcss/LayoutStyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="Whole-Body">
        <div class="navbar-comp">
            <partial name="~/Views/Shared/PartialViews/NavigationBar.cshtml"></partial>
        </div>
        <div class="container-renderbody">
            @RenderBody()
        </div>
    </div>
    @RenderSection("script",required:false)
</body>
</html>
